.top-nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: grid;
    grid-template-columns: 1fr 6.5fr 1fr;
    align-items: center;
    
    padding: 0 2rem;
    height: 3.5rem;
}
    .top-nav.connected {
        grid-template-columns: 1fr 2.85fr 1fr;
    }
    .top-nav * {
        color: white !important;
        fill: white !important;
        stroke: white !important;
        opacity: 1 !important;
    }



.nav-left {
    display: flex;
    align-items: center;
    justify-self: start;
}

.nav-center {
    display: flex;
    gap: 2rem;
    justify-self: center;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-self: end;
    padding-right: 1rem;
}

.nav-brand {
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;
}

.nav-link, .btn-link{
    color: white;
    text-decoration: none;
    font-size: 0.95rem;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    white-space: nowrap;
}

    .nav-link:hover, .btn-link:hover {
        color: white;
        text-decoration: underline;
    }

.logout-form {
    display: inline;
}